body {
    font-family: 'Montserrat';
}

#wrapper {
    overflow: hidden;
}

#companies-autocomplete {
    border: 1px solid gray;
    border-radius: 3px;
    background-color: rgb(245, 253, 245);
    padding: 10px;
    width: 30rem;
    box-shadow: 0 8px 6px -6px black;
}

#go {
    border: none;
    margin-left: 2rem;
    position: absolute;
}

#go:hover {
    background-color: green;
}

#mainsearch {
    margin-top: 22rem;
    margin-left: 30%;
}

#list {
    border: 1px solid black;
    padding: 8px;
}

#list:hover {
    cursor: pointer;
}

#header {
    margin-left: 7rem;
}

#oval {
    position: absolute;
    width: 420px;
    height: 150px;
    background: #a84909;
    border-radius: 50%;
    margin-left: 30%;
    top: 8rem;
}