body {
    font-family: 'Montserrat';
}

#mainsidemenu {
    position: fixed;
    height: 100%;
    width: 14rem;
    margin-right: 1.2rem;
    background: lightgray;
}

#compname {
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 3rem;
    color: green;
}

#compname:hover {
    color: white;
}

#complogo {
    padding-top: 5rem;
    padding-left: 1.5rem;
}

#price {
    background-color: white;
    margin-top: 4rem;
    margin-left: 1.2rem;
    margin-right: 1.2rem
}